[2020-03-15 17:07] maccyber opened #15 "Får ikke lagret uten å velge symptomer"
Hvis man klikker på lagre uten å ha valgt symptomer, får man følgende melding:

```An invalid form control with name='symptom-start' is not focusable.```

![non-selected](https://user-images.githubusercontent.com/701351/76706404-86025600-66e7-11ea-9608-724800cac276.png)

Dette er fordi symptom-start input elementet har attributten `required` https://github.com/BustByte/coronastatus.no/blob/03e9117

[2020-03-15 18:20] fossecode commented on #15
Fikset i https://github.com/BustByte/coronastatus.no/commit/2f735ca3f32f1f2e2ecc4923dc96889bd6ba303c

[2020-03-15 18:20] #15 closed

[2020-03-15 18:29] michaelmcmillan opened #20 "Ta med vondt i halsen?"
<img width="187" alt="Screenshot 2020-03-15 at 19 29 23" src="https://user-images.githubusercontent.com/147197/76707925-55281e00-66f3-11ea-9834-f82aaf52c452.png">

[2020-03-15 18:32] JonasJore opened #21 "BUG: Siden viser feilmelding ved navigering til `les mer` for personvern siden"
Siden om for les mer om personvern viser bare: `Cannot GET /personvernerkl%C3%A6ring`

[2020-03-15 18:34] fossecode commented on #21
Takk for feedback, fikset i https://github.com/BustByte/coronastatus.no/commit/1ea2deac58a8d19fea966d3d6525bf725852321b

Deployes as we speak

[2020-03-15 18:34] #21 closed

[2020-03-15 18:38] #20 closed

[2020-03-15 18:40] fossecode opened #23 "Add page for 404 and internal server error"

[2020-03-15 19:04] fossecode opened #24 "Endre til 4 siffer i valideringskode?"

[2020-03-15 19:47] #24 closed

[2020-03-15 20:14] cryptozone opened #28 "Multi-domain certificate issue"
Browser warning when visiting https://covidstatus.no. It  appears it's used for redirection to https://coronastatus.no right now. I think the certificate should be re-generated with both domains included (it's only one right now).

[2020-03-15 23:36] Sondrehj opened #32 "Ta med karantene-status i skjemaet"
Tenker det er interessant å få statistikk på hvor mange som sitter i **lovpålagt** karantene.
Hva gjør vi evt. med eksisterende data som mangler dette?

[2020-03-16 00:44] #32 closed

[2020-03-16 11:28] fossecode opened #44 "Up for discussion: Do we need to ask if user has been abroad?"

[2020-03-16 16:48] fossecode opened #54 "Add button for copying link to profile on confirmation page"
Or download file with link?

[2020-03-16 16:49] fossecode opened #55 "Add hamburger menu on small devices"

[2020-03-16 16:50] fossecode opened #56 "Add more stats on map page"
![image](https://user-images.githubusercontent.com/8818089/76781206-a6e1ae80-67ae-11ea-978c-d56ab4a8d116.png)

[2020-03-16 16:53] #23 closed

[2020-03-16 17:08] fossecode opened #57 "Implement new design on frivillige.ejs"

[2020-03-16 17:26] fossecode opened #60 "Center date input vertically on iOS"
![FullSizeRender](https://user-images.githubusercontent.com/8818089/76784297-a992d280-67b3-11ea-9bfe-147427348dd9.jpg)

[2020-03-16 17:35] janmande commented on #54
I can do this one if no else is on it

[2020-03-16 17:39] fossecode commented on #54
Superb!

[2020-03-16 17:47] fossecode commented on #56
[Coronastatus v0.5.sketch.zip](https://github.com/BustByte/coronastatus.no/files/4339593/Coronastatus.v0.5.sketch.zip)

[2020-03-16 17:52] randriana commented on #55
I can take this :)

[2020-03-16 17:52] randriana commented on #55
Ser ikke ut som jeg får assignet den selv?

[2020-03-16 18:05] fossecode commented on #55
Great :) The regular menu is located here, I suppose the hamburger menu should contain the same items: https://github.com/BustByte/coronastatus.no/blob/master/app/views/partials/menu.ejs

[2020-03-16 18:16] fossecode opened #62 "Inform users that data will be shared with FHI/government if they request it"
@michaelmcmillan spoke to a lawyer in Datatilsynet, and we do not need a separate consent for this since the data is anonymized. We should still inform users of this in order to gain trust.

[2020-03-16 18:27] fossecode opened #64 "Cache database requests for fetching stats for 5 minutes"

[2020-03-16 18:49] #44 closed

[2020-03-16 19:06] #64 closed

[2020-03-16 21:22] michaelmcmillan opened #77 "Replace "aggregert" with a layman term"

[2020-03-16 21:23] michaelmcmillan opened #78 "Be clear about what "visualization" means"
Hvilken type visualisering innebærer dette, kun den som er vist i kartet, eller annen (feks. av Kvinne 45, Storhaug)?:

"Vi vil aggregere opp disse dataene og visualisere dem anonymt. På denne måten kan offentligheten få et innblikk i hvor store mørketallene potensielt kan være»,

[2020-03-16 21:38] fossecode opened #80 "Save boolean in localstorage when user submits form"
And show info when user enters homepage next time

[2020-03-16 21:39] fossecode opened #81 "Let users mark themselves as recovered when they change their profile"
If they have registered as sick

[2020-03-16 21:41] fossecode opened #82 "Show error page to user if IP is rate limited"

[2020-03-16 21:44] fossecode commented on #81
Not urgent

[2020-03-16 21:44] #57 closed

[2020-03-16 22:29] #54 closed

[2020-03-16 22:35] fossecode opened #86 "Show info box on front page when "hasSubmittedProfile" exists in localStorage"
Inform user that a profile might already exist, and inform that they should use the URL they got when they first registered.

It could be a new user in the same browser, so it should not be too intrusive.

[2020-03-16 22:37] #80 closed

[2020-03-17 08:18] fredrikpe commented on #86
![info-bar](https://user-images.githubusercontent.com/3830767/76835893-324f5400-6830-11ea-9213-6ce53e861419.png)

[2020-03-17 08:21] #77 closed

[2020-03-17 08:21] fredrikpe commented on #86
![info-bar-v2](https://user-images.githubusercontent.com/3830767/76836171-a558ca80-6830-11ea-8bc7-a11080a516b9.png)

[2020-03-17 09:28] fossecode opened #91 "When user re-enters url to profile, symptom start and test result is not displayed"
Unless user un-checks and checks boxes that make them display in the first place.

[2020-03-17 09:51] thomaslgj opened #93 "Mangler symptom?"
Burde forkjølelse/snufsing/nysing være med i listen over symptomer? Man får råd om å holde seg hjemme når man har disse symptomene, men jeg finner de ikke i listen, så da blir jeg registrert som symptomfri selv om jeg har de.

[2020-03-17 09:55] #62 closed

[2020-03-17 10:23] #86 closed

[2020-03-17 10:26] duvholt opened #96 "Store map position in URL for easier sharing"
I see you're using Mapbox so I think it should be enough to enable the `hash` option.

https://docs.mapbox.com/mapbox-gl-js/api/

[2020-03-17 10:45] fossecode commented on #96
CC @fredrikpe

[2020-03-17 12:12] fredrikpe commented on #96
Thanks for the suggestion!

[2020-03-17 12:18] fossecode opened #100 "Prefill text in Facebook share dialog?"

[2020-03-17 12:19] fossecode opened #101 "Add share buttons on map page"

[2020-03-17 12:46] #96 closed

[2020-03-17 13:48] fredrikpe opened #107 "Replace const/let wiht var to support all browser in map.ejs"
Consider moving the script out to its own file.

[2020-03-17 15:12] fossecode commented on #93
Fixed in #112

[2020-03-17 15:12] #93 closed

[2020-03-17 19:19] #107 closed

[2020-03-17 19:43] janmande commented on #91
I can take this one

[2020-03-17 20:47] fossecode commented on #56
Stats is displayed on `/statistikk` instead

[2020-03-17 20:47] #56 closed

[2020-03-17 22:01] #55 closed

[2020-03-17 22:18] #91 closed

[2020-03-17 22:24] Sondrehj opened #127 "Sort entries in symptoms chart by value"
It makes sense to sort the entries in the chart by value. It's currently not sorted by anything.

[2020-03-18 15:35] fossecode opened #140 "Add swagger doc for api endpoints"
We might be able to generate this using annotations + the typescript interfaces we already have,
https://github.com/lukeautry/tsoa

[2020-03-18 15:50] arildwtv opened #141 "Display bar chart with symptoms of infected"
With a bar chart, we can show people which symptoms covid-19 infected have. We can use the same bar chart as the one we have with symptoms now.

[2020-03-18 15:55] fossecode opened #143 "Prepare page that will be used for redirecting to helsenorge.no have their system up and running"

[2020-03-18 19:10] arildwtv commented on #141
Implemented.

[2020-03-18 19:10] #141 closed

[2020-03-18 21:20] #143 closed

[2020-03-18 21:20] #127 closed

[2020-03-19 19:37] arildwtv opened #155 "New layout on landing page"
More appealing landing page.

[2020-03-20 12:24] janmande commented on #140
I can have a go at this.

[2020-03-21 09:00] #140 closed

[2020-03-21 11:51] fossecode commented on #155
Can this be closed?

[2020-03-21 11:54] arildwtv commented on #155
Yes, this is implemented and deployed. :)

[2020-03-21 11:54] #155 closed

[2020-03-21 17:07] #78 closed

[2020-03-21 17:18] fossecode opened #166 "Support multiple languages"

[2020-03-21 17:20] adriaandotcom commented on #100
I would remove Facebook (it's not privacy friendly). This could be used if you agree:

[code]

[2020-03-21 17:23] michaelmcmillan opened #167 "Get zip codes with coordinates for the Netherlands into the app"
Here are the things we need to solve:
* Create a copy of [`municipalities.json`](https://github.com/BustByte/coronastatus/blob/master/municipalities.json) where the key is the municipality and the zip codes are the zip codes within that municipality.
*  Create a copy of [`postalCodeCoordinates.json`](https://github.com/BustByte/coronastatus/blob/master/postalCodeCoordinates.json) where the zip cod

[2020-03-21 17:31] adriaandotcom commented on #166
I think it's important that issue happens first, because it's likely to cause merge conflicts with other PRs. Maybe after we have a list of translations we do this directly?

[2020-03-21 17:32] fossecode commented on #166
Currently working on it. We should probably at least support english as well.

[2020-03-21 17:35] ian-starts commented on #166
@fossecode Need help implementing i18n?

[2020-03-21 17:36] Kilian commented on #166
We can use the same proposed google sheet to translate to english and dutch, a column each. Then we can use that to expand to other languages too.

[2020-03-21 17:38] fossecode commented on #100
There are some advantages for us in using the Facebook-button. We did run some ads on Facebook in order to get traction, and we might do it again in the future if we come up with some insightful analysis or visualizations. The Facebook-button helps us target our main audience when running ads.

If it is ok for you, we could add a field in the config, specifying if we want to use the Facebook-butto

[2020-03-21 17:42] fossecode commented on #166
@ian-starts Thanks for asking, I can set up the basic stuff first. It would be great if we could start translating in a google sheet. @michaelmcmillan could you look at translating Norwegian -> English?

[2020-03-21 17:56] michaelmcmillan commented on #166
Yes, I can translate from Norwegian to English. How should I do it? Just branch out, or add i18n?

[2020-03-21 17:59] fossecode commented on #166
Any comments on this approach? https://github.com/BustByte/coronastatus/pull/169

Yell out if you have any other thoughts

[2020-03-21 18:00] fossecode commented on #166
@Kilian did you create a spreadsheet?

[2020-03-21 18:22] Kilian commented on #166
Here's the plan:
* [Here is the google sheet](https://docs.google.com/spreadsheets/d/1rgtSlCiI7pfOA6G9WU56LWK9qHn2tHxFNxkJQDXLbyQ/edit?usp=sharing), I'll start copying strings over from the EJS files.
* There are four columns: KEY, Norwegian, which I'll copy over, and empty Dutch and English
* Filling in the Dutch and English translation is a free for all:
1. empty space: click on it so it's locke

[2020-03-21 18:37] #166 closed

[2020-03-21 19:22] Kilian opened #171 "Translation efforts for Dutch and English"
**Update** translations are ongoing, see [this comment](https://github.com/BustByte/coronastatus/issues/171#issuecomment-602098143) for the plan.

----
* [Here is the google sheet](https://docs.google.com/spreadsheets/d/1rgtSlCiI7pfOA6G9WU56LWK9qHn2tHxFNxkJQDXLbyQ/edit?usp=sharing), I'll start copying strings over from the EJS files.
* There are four columns: KEY, Norwegian, which I'll copy over,

[2020-03-21 19:29] Kilian commented on #171
**Update**: Dutch is fully translated, please review lines and fill them with green if you agree with them, or rephrase them and leave them white.

[2020-03-21 19:52] kaared opened #172 "Enhancement: easier data edit on repeat visit"
Currently a unique phrase is generated and displayed when the user submits the data form. The user is requested to make a note of the phrase so that he can revisit the site and update the submitted data later. This may create some friction or unnecessary work for the user which may cause them to not be able to update their entry or submit duplicate data.

Suggestion:

Consider creating and display

[2020-03-21 19:59] Kilian commented on #171
**Update**: English is fully translated, please review lines and fill them with green if you agree with them, or rephrase them and leave them white. Same for the remaining white Dutch lines!

[2020-03-21 20:03] kaared opened #173 "Enhancement: make "user page" add-to-homescreen capable"
A browser bookmark is nice, but an icon on the home screen is nicer. :)

Suggestion: identify or create a page that is high value to the user and make it possible for the user to add that page to the home screen with a nice icon and label. PWA supports this. See also the issue with setting a cookie with the generated phrase so that the user can be taken directly to his edit view.

If the user prim

[2020-03-21 20:08] Kilian commented on #171
**Update**: English is green and ready to be implemented! :tada:

[2020-03-21 20:09] adriaandotcom commented on #100
Yeah, for GDPR we would need consent, and that will be a bigger burden for people to fill in the form. I think that's required in Norway as well, but otherwise a setting would be fine. We probably need a few settings anyway.

Creates a PR for the button: https://github.com/BustByte/coronastatus/pull/174 (not with a setting yet). How would you do this setting?

[2020-03-21 20:15] Kilian commented on #171
Claim your view here, then add translations from the translations sheet (some translations are used on multiple pages, so be sure to check you're not adding doubles)

* ~app/views/pages/404.ejs @Kilian~
* ~app/views/pages/500.ejs @Kilian~
* ~app/views/pages/confirm-profile.ejs @Kilian~
* ~app/views/pages/frivillige.ejs @Kilian~
* ~app/views/pages/helsenorge.ejs~
* ~app/views/pages/map.ejs~
* ~app/

[2020-03-21 20:16] fossecode commented on #100
Lets just go with the button you created for now, and then we’ll fix the setting and GDPR-settings later 👍

[2020-03-21 20:28] fossecode commented on #172
👍 if we are going to use a cookie or saving data in local storage, the user needs to opt in to this (e.g checkbox or button). The users health information is practically stored in the browser.

[2020-03-21 20:39] kaared commented on #172
Yes, completely agree. Using a cookie must be clearly communicated to and accepted by the user. My understanding is that since there's no PII (personally identifiable information) this is acceptable (at least to Norwegian authorities ref Slack discussions) or at least far less severe than if there was any PII. Forgot to mention that the cookie must be sticky, i.e survive window closures and browse

[2020-03-21 20:39] #100 closed

[2020-03-21 20:46] fossecode opened #178 "Write more tests on critical functionality and functions that calculate statistics"
In order to move quickly and release stuff as fast as possible, we decided not to spend too much time writing tests. In order to document the functionality and lock the expected behaviour, we should probably write some more tests.

[2020-03-21 20:59] michaelmcmillan opened #180 "Add a field to the configuration with the language you want to be running"

[2020-03-21 21:04] adriaanvanrossum opened #181 "Add social media images for The Netherlands"
Let's make some media images for social media (these are the .no ones):

<kbd><img width="560" alt="Screenshot" src="https://user-images.githubusercontent.com/1079135/77236544-d8e47d80-6bbf-11ea-8096-f67eb511e3b8.png"></kbd>

<kbd><img width="560" alt="Screenshot" src="https://user-images.githubusercontent.com/1079135/77236546-df72f500-6bbf-11ea-9d01-443db0a6ef6a.png"></kbd>

[2020-03-21 21:04] fossecode commented on #180
The language is selected based on the `Accept-Language`-header. I think most browsers sets this header. But we could probably set a fallback language in the config

[2020-03-21 21:07] fossecode opened #182 "Add support for country specific image-folders"

[2020-03-21 21:09] adriaandotcom commented on #180
I think it should be based on the domain/server/config, right? And then a selector/dropdown somewhere where visitors can change it.

[2020-03-21 21:13] gavinhewitt commented on #181
I can do that. I just need text input?

[2020-03-21 21:17] kaared opened #184 "Enhancement: create dashboard or other high-value personalized screen"
Ref #172  and the use of cookies to track the anonymous user. If we're comfortable with the use of cookies in a legal sense, I think it creates a great opportunity to further improve the user experience by creating a high-value page that uses information stored in cookies and that is tailored to the user.

For instance, consider something like a dashboard that shows information based on the user's

[2020-03-21 21:17] michaelmcmillan commented on #180
With one instance per site, which is what we now have, couldn't we just let the tld (.no/.nl) decide the language? Aka. a config field for the server?

[2020-03-21 21:28] fossecode commented on #180
Yeah, but i18n selects language based on the `Accept-Language` header, which essentially means the language of the users browser. If we don't support the language, we need a fallback language. This should be specified in a config.

I18n also supports overriding the browser language by using a cookie, we can add this if we want the user to be able to select language themselves.

[2020-03-21 21:49] arildwtv opened #187 "Add link: "Do you need this service in your own country?""
Now that we expand the service to the Netherlands, we see the value in providing this service to other countries, as well. The Netherlands might just be the first. If visitors from other countries visit our site, they might wonder whether their country can adopt the same service.

That's why I suggest that we put a link in the "About the service" section:

"The Coronastatus service is currently us

[2020-03-21 22:00] fossecode commented on #187
I think someone already suggested this (actually I think it was you 😅), but we should also make a checklist of what you have to do in order to set up a new language. Off the top of my head:
- Copy config and set locale for the new language
- Add json file with translations
- Add subfolder with images for the new language (logo and social media share images)

[2020-03-21 22:07] #182 closed

[2020-03-21 22:10] michaelmcmillan opened #188 "Add an international landing page with info about the project: coronastatus.eu"
With pointers to the other sites and documentation on how to join community and get a website for your country

![image](https://user-images.githubusercontent.com/147197/77237510-17cb0100-6bc9-11ea-8f27-2b721cf00186.png)

[2020-03-21 22:14] adriaandotcom commented on #188
That sounds great, was thinking of exactly this!

[2020-03-21 22:14] adriaandotcom commented on #188
Maybe we should show the aggregated data of all countries as well.

[2020-03-21 22:44] michaelmcmillan opened #190 "Add robots.txt that excludes /helsetilstand/:passcode"

[2020-03-21 22:49] jelbazi commented on #171
Did "app/views/pages/helsenorge.ejs". Some pc problems now. Will make PR in a bit. Then continue with others.
Also added to the locales too btw.

[2020-03-21 22:59] adriaandotcom commented on #187
Maybe add to the list a twitter account? coronastatusTLD like [coronastatusNL](https://twitter.com/coronastatusNL). So people will actually do the PR that we need per country.

[2020-03-21 23:00] adriaandotcom commented on #190
And don't embed analytics scripts on that page (if that's easy). Would rather not have those codes in my Simple Analytics database. Not super important.

[2020-03-21 23:02] adriaanvanrossum opened #191 "Implement design"
Are there any comments from the designers in the norwegian gang before we can start implementing this design?

https://www.figma.com/file/WriP7XWOZbni3X94J0asVX/Tailwind-CSS-UI?node-id=6020%3A543

<kbd><img height="500px" alt="Screenshot" src="https://user-images.githubusercontent.com/1079135/77238455-7182f980-6bd0-11ea-89b2-2175b259d2fc.jpg"></kbd>

[2020-03-21 23:07] gavinhewitt commented on #191
I'd say it's a bit too colourful/frivolous for my taste. Personally I don't see anything wrong with the current design.

[2020-03-22 00:14] michaelmcmillan opened #193 "Add simpleanalytics subdomain to each instance to bypass adblockers"

[2020-03-22 00:15] michaelmcmillan commented on #190
Yes, good catch. Let's wrap that script in an if block.

[2020-03-22 08:52] willwillems commented on #191
I could implement the design in a couple of hours but I would be good to know if it's final.

[2020-03-22 09:55] ian-starts commented on #171
I'll claim "app/views/partials/head.ejs"

[2020-03-22 09:59] lseelenbinder commented on #188
I've started on this: #194.

[2020-03-22 10:09] fossecode commented on #191
Got this comment from one of the Norwegian designers:

As briefly discussed in Telegram, we should also consider clearifying our value prop and implement a clearer call to action.

[2020-03-22 10:28] fossecode opened #198 "Support different languages in url paths"

[2020-03-22 11:25] fossecode opened #201 "Move files containing postal codes, municipalities and word list to separate folder"
They are located in root atm.

[2020-03-22 11:44] gavinhewitt commented on #167
The fifth column is the municipality

[2020-03-22 11:46] adriaanvanrossum opened #202 "Make sure we use sex instead of gender"
https://t.me/onzecorona/718

[2020-03-22 11:47] adriaandotcom commented on #193
We could just use `sa.coronastatus.eu` for all I think. No need for all domains.

[2020-03-22 11:47] michaelmcmillan commented on #167
Thank you @gavinhewitt. I'll use that.

[2020-03-22 11:54] michaelmcmillan commented on #193
Ah great, didn't think it would work cross origin, but a subdomain is by definition cross origin 🤦‍♂ thanks for chipping in!

[2020-03-22 11:58] michaelmcmillan commented on #201
On it

[2020-03-22 11:59] michaelmcmillan commented on #201
#167

[2020-03-22 12:29] #198 closed

[2020-03-22 12:29] sbocinec commented on #167
Adding location data for Slovakia (not creating another issue for this) : [location_data_SK.zip](https://github.com/BustByte/coronastatus/files/4365208/location_data_SK.zip)

[2020-03-22 12:52] amritnagi commented on #191
If the issue is the colour, the icons are also available in a single colour.

https://www.iconfinder.com/iconsets/coronavirus-glyph

The design definitely wasn't intended to be frivolous or not a serious matter, so I apologise if anyone feels that was it is.

My intention was to try and create something friendly and less "formal/scientific". With all of the advice and reading people have been doin

[2020-03-22 12:57] adriaandotcom commented on #191
I'm highly in favor of changing the design because people take it more seriously if it looks better. It's maybe not the most important thing (that's getting it out there), but I think it important enough so people want to share it more. What if we make the design a bit less playful?

[2020-03-22 12:59] Kilian commented on #202
The design didn't use the translations :) Fixed in english, dutch was already ok (using "Sekse")

[2020-03-22 12:59] #202 closed

[2020-03-22 13:01] fossecode commented on #191
Totally agree @adriaanvanrossum. It would be great if you could make it a little bit less playful and maybe see how it looks with another color palette.

[2020-03-22 13:02] willwillems commented on #191
I fully agree with @adriaanvanrossum, I think design here is quite important. If it looks better it conveys authority and that we're serious about this.

@amritnagi I really like the color icons, how about just changing the purple to a light orange/yellow?

[2020-03-22 13:09] amritnagi commented on #191
Cool, I'll try a few ideas... Totally happy to give edit rights to anyone if they want to create alternatives?

Won't be until the evening once the kids are asleep.... Having all the fun keeping 4yo twins entertained 🤣

[2020-03-22 13:12] Kilian commented on #171
PR in #205, closing this :tada:

[2020-03-22 13:12] #171 closed

[2020-03-22 13:14] Kilian opened #206 "replace lang="no" with correct lang"
has to be done in all templates in `views/pages`. We can use the translate strings but it's probably neater to use a variable for that.

[2020-03-22 13:27] adriaandotcom commented on #191
I think that would be great.

[2020-03-22 13:34] fossecode opened #208 "Add NL and EU logo"
@arildwtv

[2020-03-22 13:42] arildwtv commented on #208
I'll fix this.

[2020-03-22 13:56] arildwtv commented on #208
I propose an easier solution. What if we only use the virus icon svg and render the text part (Coronastatus.no/.nl/etc) in HTML? That way we don't need SVGs for every country. @fossecode

[2020-03-22 13:57] fossecode commented on #208
Yeah thats a good idea. Makes it less tedious to add more countries. Could you create the logo without TLD @arildwtv?

[2020-03-22 13:58] arildwtv commented on #208
On it. So just the virus icon, right? @fossecode

[2020-03-22 14:03] arildwtv opened #211 "Move symptom translations to front end"
Right now, symptoms are translated in the back end (`statistics.ts:17`). I believe this should be moved to the front end.

[code]

[2020-03-22 14:09] arildwtv opened #212 "Make URL to definition of "near contact" configurable by country"
Right now, we're linking to FHI (Norwegian Institute for Public Health) for the definition of "near contact". This should be configurable for each country.

Also, is "near contact" a known term outside Norway?

[2020-03-22 14:19] adriaanvanrossum opened #213 "Make sure Facebook URL will use local URL"
![CleanShot 2020-03-22 at 15 18 49@2x](https://user-images.githubusercontent.com/1079135/77251750-78515100-6c50-11ea-9ea6-d33482264100.jpg)

[2020-03-22 14:20] adriaandotcom commented on #208
You could use something like this (don't mind the arrow):

![CleanShot 2020-03-22 at 15 19 54@2x](https://user-images.githubusercontent.com/1079135/77251773-9e76f100-6c50-11ea-87a5-e05baf580a5e.jpg)

But feel free to do whatever you want :)

[2020-03-22 14:38] Kilian commented on #212
We have the translations for that without the link, see locale files

Dutch: nauwe contacten
English: close contacts

[2020-03-22 14:39] Kilian commented on #206
Can be closed because of the above pr

[2020-03-22 14:39] #206 closed

[2020-03-22 14:40] arildwtv commented on #208
@adriaanvanrossum Until we decide on a final design, I'll just "clone" the current logo we're using, hope that's ok. :)

@fossecode Where do we provide the tld parameter? Should we define it in `example.json` as `TLD`? We already have a `LANGUAGE` config parameter, but these aren't necessarily one-to-one.

[2020-03-22 15:06] arildwtv commented on #208
https://github.com/BustByte/coronastatus/pull/217/files

[2020-03-22 15:52] adriaandotcom commented on #213
Checked, all good.

[2020-03-22 15:52] #213 closed

[2020-03-22 15:56] fossecode commented on #167
Can we close this issue?

[2020-03-22 15:57] #180 closed

[2020-03-22 15:58] #201 closed

[2020-03-22 15:58] #208 closed

[2020-03-22 16:12] fossecode opened #223 "SEO optimizations"
- [ ] Sitemap
- [ ] Improve/add missing meta tags
- [ ] GZIP (or other) compression
- [ ] Other stuff?

[2020-03-22 16:27] #190 closed

[2020-03-22 16:41] fossecode commented on #181
@gavinhewitt / @adriaanvanrossum any progress here? We should probably add this before we start marketing the dutch site.

[2020-03-22 16:45] adriaandotcom commented on #181
Yes indeed! This could be the text in Dutch:

Is this enough for you @gavinhewitt?

[2020-03-22 16:46] michaelmcmillan commented on #167
Yep

[2020-03-22 16:46] #167 closed

[2020-03-22 16:49] fossecode opened #228 "Add prettier to gh-workflow"
Example: https://github.com/simpleanalytics/scripts/blob/master/.github/workflows/nodejs.yml

[2020-03-22 17:54] #228 closed

[2020-03-22 18:33] michaelmcmillan opened #234 "Add a Dutch wordlist for generating human readable passcodes"
Currently we generate passcodes by picking random words from [wordList.txt](https://github.com/BustByte/coronastatus/blob/master/wordList.txt). This word list is in Norwegian only. So we need to adapt the code to look at what language the config wants the app to use and then load a word list for that language.

1. Get a hold of a Dutch word list without any curse words
2. Add it to `app/locales/nl

[2020-03-22 19:11] arildwtv opened #236 "Send optional email with passcode to user"
Should we maybe support sending on-demand email with the passcode / profile URL? Consider a user who has just submitted the form. We could allow him/her to enter his/her email address, to which we will send the passcode / profile URL. As long as it is optional and we explicitly inform the user that we do not store any link between email and health details, this should be perfectly fine, I believe.

[2020-03-22 19:28] milovanderlinden opened #238 "Stas display NaN when no people with symptoms are registered"
See: https://coronastatus.nl/statistieken
![afbeelding](https://user-images.githubusercontent.com/106038/77258560-a0a27500-6c7b-11ea-8171-cbf47fae7e0d.png)

[2020-03-22 19:29] milovanderlinden opened #240 "Date time translation not correct"
![afbeelding](https://user-images.githubusercontent.com/106038/77258590-c62f7e80-6c7b-11ea-9431-fddf82f8d118.png)

[2020-03-22 19:35] gavinhewitt commented on #181
Yes, starting work on it now @adriaanvanrossum @fossecode

Are we keeping the same design for all languages? (I would think so). Also, I see 2 versions. Do we need both versions localized?

[2020-03-22 19:36] fossecode commented on #181
@gavinhewitt we only need one. We wanted to test different image on Facebook and Twitter, but only one is needed.

[2020-03-22 20:49] jelbazi commented on #234
As I understand it, the code currently uses 3 words as a passcode. For a big list like the Norwegian (20k words?), that's fine.
For the current WIP Dutch list (which Stano translated from bitcoin mnemonic) that's not enough.

So I see 2 roads we can take,

1. create another list from a dictionary (e.g., www.gwicks.net/textlists/nederlands.zip) and filter out some words.

2. use the shorter list, b

[2020-03-22 20:52] gavinhewitt commented on #181
![image](https://user-images.githubusercontent.com/1969103/77260312-5b844000-6c87-11ea-8796-f794fd8652ae.png)

Something like this? Or keep same format as above?

[2020-03-22 21:01] gavinhewitt commented on #181
![image](https://user-images.githubusercontent.com/1969103/77260495-a81c4b00-6c88-11ea-9dd4-e586b3eb326d.png)
Like this?

[2020-03-22 21:17] gavinhewitt opened #241 "Text in 'Symptoms' chart is Norwegian on .nl"
![image](https://user-images.githubusercontent.com/1969103/77260864-d3079e80-6c8a-11ea-972a-7e765ab8fc15.png)

[2020-03-22 21:17] fossecode commented on #181
Looks good to me (but I dont speak dutch)

[2020-03-22 21:18] fossecode commented on #241
Duplicates https://github.com/BustByte/coronastatus/issues/211

[2020-03-22 21:20] gavinhewitt opened #242 "Title text for input fields need Dutch translation"
![image](https://user-images.githubusercontent.com/1969103/77260955-4c9f8c80-6c8b-11ea-931a-85d5a660f867.png)

[2020-03-22 21:31] adriaandotcom commented on #234
You could use option 1 and apply this:

Remove all words containing:
- tering
- kanker
- penis
- mastur
- neuk

Words being:
- anaal

Start with:
- kut
- tepel

Would also check if any words contain non a-z characters, saw a few.

[2020-03-22 21:38] adriaandotcom commented on #181
Let's go for it! We can always change it later **if** the design of the website changes.

[2020-03-22 21:58] gavinhewitt commented on #181
Cool. Will create a pull request for it!

I wanted to make a combination of the 2 images, so incorporate the logo as well, but I found myself struggling to make it work. Decided just to copy the existing one.

[2020-03-22 22:06] jelbazi commented on #234
Alright, on it.

[2020-03-22 23:12] adriaandotcom commented on #81
This is possible right now, right?

[2020-03-22 23:16] fossecode commented on #81
Yes partially, you can uncheck all symptoms.

It was someone else who came up with this suggestion, but if I remember correctly this was something that should only be displayed to people that had tested positive (in order to follow the period of illness). The issue can be closed if it is deemed unnecessary.

[2020-03-23 01:05] jelbazi opened #245 "Enhancement: Analytics that predict future spreading zone before outbreak occurs."
This research (see pdf + images below) does an analysis of questionnaires filled out by Israeli citizens where they argue they can **predict _"...future spreading zones a few days before an [COVID19] outbreak occurs."_**

As we plan to survey citizens and expect an enormous (hopefully) amount of data, this can be a very significant next step in helping authorities (and individuals) to take action

[2020-03-23 01:53] jelbazi commented on #245
I did a comparison in detail 👇

For detailed notes go to the [Google sheet](https://docs.google.com/spreadsheets/d/1T6cAaSgTVremOE1TqR6BYFDcpMKLbkYDyVfrNLVCD_k/edit?usp=sharing).

It seems we tick a lot of the variables already. Maybe it's not too much work to add the other ones?

One important factor, which I am not sure of now. **Do we keep a time-series record of the data?** E.g., do we track (

[2020-03-23 08:13] Kilian commented on #238
Probably not super important right now (assuming stats will be empty for just a short period of time)

[2020-03-23 08:13] Kilian commented on #234
PR merged, closing this!

[2020-03-23 08:13] #234 closed

[2020-03-23 08:14] Kilian commented on #181
PR merged!

[2020-03-23 08:14] #181 closed

[2020-03-23 08:16] Kilian commented on #241
closing this in favor of #211

[2020-03-23 08:16] #241 closed

[2020-03-23 08:17] Kilian commented on #242
This is a tooltip generated by your browser in your native browser language because the field has the 'required' attribute.

[2020-03-23 08:17] #242 closed

[2020-03-23 08:18] Kilian commented on #240
The sentence also doesn't make much sense, will update it.

[2020-03-23 08:29] willwillems commented on #191
@adriaanvanrossum I'm free to do the design right now if that's what we want, if I remeber everyone was pretty enthousiastic about the green design?

[2020-03-23 08:37] adriaandotcom commented on #245
I think it would be great to be able to predict the outbreak based on these questions.

We have some data already so I’m not sure how much code needs to change and how the data will change as well compared to what we already collected in Norway.

[2020-03-23 08:38] amritnagi commented on #191
@NickolasBoyer Awesome! Let me know if you need a hand... Prob won't be able to help until the evening though.

Just little note, the spacing and positioning is a bit rough, I didn't have time to tighten it all up, so just use it as a rough guideline. Feel free to improve where applicable.

Are you planning on using tailwind css?

[2020-03-23 08:44] adriaandotcom commented on #191
Green design was in favor indeed! Let me know if you need anything. I can also help if you have the base ready.

[2020-03-23 08:44] Kilian opened #246 "Dutch site should mention post code should be without characters"
Dutch postal codes are in the form 0000AA, but the AA is not needed.

Possibly for the dutch site only, is there a way to do this neatly? (we could do if statements in the template but that doesn't sound great. @fossecode ideas?)

[2020-03-23 08:59] fossecode commented on #246
Hmm, I don't know. Maybe something like this
[code]
And then write the info in 'Zip code information'. That way it can just be left empty for countries that don't need it. But it feels a bit weird

[2020-03-23 09:00] fossecode commented on #246
The pattern-validation must probably be removed or changed (not for NL, but for others)

[2020-03-23 09:12] willwillems commented on #191
No worries because I'm indeed using Tailwind so everything will pretty much fall into place.

I do not want to step on anyone's toes here, or make the project harder for people to contribute to but what do we think about separating the FE from the BE? It might be more convenient once we start getting some traffic to have the FE as static assests, and it makes it more maintainable and easier to wor

[2020-03-23 09:24] amritnagi commented on #191
@adriaanvanrossum will probably be able to clarify that!

@NickolasBoyer Drop me a message on telegram if you want to discuss the page / need another set of eyes for feedback etc 👍

[2020-03-23 09:27] Kilian commented on #246
pattern could also be translatable?

[2020-03-23 09:27] michaelmcmillan commented on #245
This would be extremely cool to check against the numbers we've collected in Norway!

[2020-03-23 09:28] adriaandotcom commented on #191
@NickolasBoyer I think for now we don’t have time for rewriting it to FE and BE. Let’s first make it popular and focus on new features first. It’s not a complicated app and until now it worked great with multiple people contributing. If this gets annoying then we can always separate them.

Love that you are working on the designs! Thanks a lot.

[2020-03-23 09:28] Kilian commented on #246
The issue with the translation is that it should work for the dutch site in both languages but not for english elsewhere (difference between i18n and l10n.)

[2020-03-23 09:29] michaelmcmillan commented on #245
And yes, we track changes over time – so it is in fact a time series, but what we've seen is that numbers of people who come back to the site to update their health status is pretty low:

From left to right: Reported at least 1 time, reported at least 2 times, reported at least 3 times, reported at least 4 times, and so on
![image](https://user-images.githubusercontent.com/147197/77302099-14cb3000

[2020-03-23 09:44] fossecode commented on #191
Although it might not scale that well, using ejs and MVC allows us to move really fast, so I am also in favor of keeping it that way for now.

[2020-03-23 09:54] michaelmcmillan commented on #246
I think it's cleaner to just have a switch/if inside the template based on the language set in the config?

[2020-03-23 09:55] jelbazi commented on #245
Interesting numbers!

Maybe getting the return visit up if it's being talked about in the news constantly. But if not then I guess it'll be low indeed.

But good that we have a time-series.

I think implementing the below variables will be useful though, so we can reference the paper and get other governments/OS communities to adopt this repo/model.
And how awesome would it be if we can actually p

[2020-03-23 09:57] fossecode commented on #246
Yeah, didn't think about that. Agree with @michaelmcmillan

[2020-03-23 10:03] fossecode commented on #245
I will make the required changes to the form

[2020-03-23 10:07] kaared commented on #245
This is a great idea! What questions are asked on the form is critical to what kind of answers one can extract from the dataset. I think it would be worthwhile to contact the authors of the paper and see if we can get them interested. They in turn can reach out to their community. I tried to get these kinds of answers from Norwegian authorities, but no answers, and the recently published official

[2020-03-23 10:08] Kilian commented on #246
Will do that!

[2020-03-23 10:10] kaared commented on #245
I think issues #172, #173 and #184 can help boost the repeat visits.

[2020-03-23 10:14] jelbazi commented on #245
I'll see if we can look up the authors online.

[2020-03-23 10:16] Kilian commented on #246
..I can just make it part of the translation and that works too. d'oh.

[2020-03-23 10:22] Kilian commented on #246
...doesn't solve the issue for english-on-nl site, but this is easy enough and we also have the pattern match and placeholder to help guide users.

[2020-03-23 10:29] willwillems commented on #191
@amritnagi do you have those Corona Glyphs somewhere in color?

[2020-03-23 10:31] amritnagi commented on #191
@NickolasBoyer Here you go:
https://www.iconfinder.com/iconsets/coronavirus-flat

[2020-03-23 10:32] #211 closed

[2020-03-23 10:32] #240 closed

[2020-03-23 10:32] #246 closed

[2020-03-23 11:01] adriaanvanrossum opened #248 "Add JSON validator to language files in CI"
It happens a lot where the JSON files are invalid after editing, maybe nice to add this to our CI if we have time.

[2020-03-23 11:05] adriaanvanrossum opened #249 "Checklist launch in The Netherlands"
- [x] [Change questions](https://github.com/BustByte/coronastatus/issues/245) @jelbazi
- [x] Update stats for Norway @fossecode
- [x] [Implement design](https://github.com/BustByte/coronastatus/issues/191) @NickolasBoyer
- [x] [Create ads and meta images](https://github.com/BustByte/coronastatus/issues/250) @amritnagi
- [x] [Check SEO data](https://github.com/BustByte/coronastatus/issues/223) @adr

[2020-03-23 11:10] willwillems commented on #191
Thanks @amritnagi !

[2020-03-23 11:13] adriaandotcom commented on #191
@NickolasBoyer merged [a PR](https://github.com/BustByte/coronastatus/pull/230) that has a little bit of impact on the home page and profile page. So you might want to merge master into your branch.

[2020-03-23 11:15] Kilian commented on #249
Translations have been checked in #247.

[2020-03-23 11:21] adriaanvanrossum opened #250 "Create ads and meta images with new design in mind"
I think if there is one that fits all, or at least one that fits the aspect radio of these (with some bleed):

![](https://via.placeholder.com/2048x1024.png?text=Twitter+2048+x+1024px)

![](https://via.placeholder.com/2400x1256.png?text=Facebook+2400+x+1256px)

<img src="https://via.placeholder.com/400x400.png?text=Twitter+avatar+400+x+400px" width="200px">

![](https://via.placeholder.com/1456x18

[2020-03-23 11:39] fossecode commented on #245
It would be nice if someone could test the newly added fields on https://cac3bd65.ngrok.io/

The URL will work for a couple of hours. Translations are not completed yet.

[2020-03-23 11:49] willwillems commented on #191
@adriaanvanrossum no worries, I'm working on the FE separately for now and I'll integrate it in the main project when it is done so don't be afraid to change things around!

You can follow the FE progress here and feedback is welcome:

https://unruffled-ride-0e7055.netlify.com/

I'll try to update it occasionally. Keep in mind I'm not working through it linearly so if it doesn't match the design y

[2020-03-23 12:03] kaared commented on #245
Quick feedback:

1. Swap geography and demography. The fields order dictate that.
2. Biological gender is sufficient. Avoid sex. Male and female is context enough if any doubt.
3. Zip code should be postal code / zip code. Zip code is primarily USA/Canada.
4. Zip code is limited to size 4. Should be way more. E.g. England has really long ones.
5. Change 'someone who was tested' to 'someone who tes

[2020-03-23 12:16] arildwtv commented on #172
I see that @adriaanvanrossum implemented this - awesome! Should we close this?

I also think we should implement the "call-to-action" as described above, where the user is encouraged to update his/her data ("It's been four days since you last told us about your health situation. If there has been any change, please let us know by updating your data below!"

[2020-03-23 12:19] adriaandotcom commented on #172
Yes, created an other issue for that: https://github.com/BustByte/coronastatus/issues/252

[2020-03-23 12:19] #172 closed

[2020-03-23 12:21] adriaanvanrossum opened #252 "Make users aware to fill in their updated status"
From https://github.com/BustByte/coronastatus/issues/172

We could make a banner on every page of the website (now it's only on when when people don't use a cookie).

We could also ask for an email (I think it's better) so we can send people a reminder. We could include the link in their email so they don't have to think about it anymore.

[2020-03-23 12:29] adriaandotcom commented on #252
Duplicate of https://github.com/BustByte/coronastatus/issues/236

[2020-03-23 12:29] #252 closed

[2020-03-23 12:30] adriaandotcom commented on #236
From https://github.com/BustByte/coronastatus/issues/172

We could make a banner on every page of the website (now it's only on when when people don't use a cookie).

We could also ask for an email (I think it's better) so we can send people a reminder. We could include the link in their email so they don't have to think about it anymore.

[2020-03-23 13:30] fossecode commented on #245
Thanks @kaared, fixed most of the points, but I waited with some of them:
2. We have gotten quite a lot negative feedback when using only "Biological gender/Biologisk kjønn".
4. Will fix this in a separate task
6. Yeah, we should probably discuss what we actually want before changing this.
7. This was initially a suggestion from a doctor. The research paper has also used "loss of".
8. Should be di

[2020-03-23 13:33] ian-starts commented on #245
especially with edits, looks really good and understandable. Also works as expected.

[2020-03-23 13:46] adriaandotcom commented on #245
2: Indeed, let's not use gender: https://github.com/BustByte/coronastatus/issues/202

[2020-03-23 14:02] adriaanvanrossum opened #253 "Add call to action button on top of page"
With the text "Contribute now"

https://t.me/onzecorona/1434

![telegram-cloud-photo-size-4-6034874143092093937-y](https://user-images.githubusercontent.com/1079135/77324579-3fc87a80-6d17-11ea-8f0b-7bf7a2765a94.jpg)

[2020-03-23 14:25] fossecode commented on #249
Updated questions and stats for Norway in https://github.com/BustByte/coronastatus/pull/251.

[2020-03-23 14:28] fossecode opened #254 "Expose answers of newly added questions in API and CSV-export"
https://github.com/BustByte/coronastatus/pull/251 introduced the following fields on a `CovidReport`:
[code]

These should also be returned in the API and in the CSV-export.

[2020-03-23 14:41] adriaandotcom commented on #223
Sitemap is not important for search engines, we have all links on the page. That's enough. GZIP is a nice to have I would say. Meta tags are the most important, will look into that right now.

[2020-03-23 14:54] fossecode opened #255 "Add english privacy statement"
Currently only available in Norwegian and Dutch.

[2020-03-23 15:02] fossecode opened #256 "Checklist launch in Slovakia"
See checklist further down 👇

[2020-03-23 15:04] fossecode commented on #256
@sbocinec I think we are almost ready to launch in Slovakia as well. Do you have time to look at the two things above?

[2020-03-23 15:21] amritnagi commented on #253
Proposed:

![image](https://user-images.githubusercontent.com/25029371/77332303-d138ec00-6d19-11ea-9511-3ed37b597944.png)

![image](https://user-images.githubusercontent.com/25029371/77332326-d72ecd00-6d19-11ea-8b29-57c959bbc51c.png)

[2020-03-23 15:40] #254 closed

[2020-03-23 16:56] NickolasBoyer opened #259 "Add the option for a one-time email with link."
I don't know this but I think right now the overwhelming majority of users is not saving that link.

It would be super useful for the integrity of the data if we could nudge people/help people to actually save that link.

[2020-03-23 17:00] fossecode commented on #259
@adriaanvanrossum has added support for saving the state in the web browser (checkbox on registration). If many people use this functionality, we might not need functionality for sending emails. I suggest we release what we have, and if the percentage who ticks that checkbox is low, we  add email.

[2020-03-23 17:00] arildwtv commented on #259
I agree. Data from the Norwegian site tell us that only 10 % update their reports. My hypothesis is that this is mainly due to poor user-friendliness (and also partly to the value proposition, but that's not relevant here). I think allowing people the option of sending a one-time email with link will greatly increase the chances of users returning and updating their data.

@fossecode Any suggestio

[2020-03-23 17:02] michaelmcmillan commented on #259
I agree that this is a nice to have at some point. I guess we could achieve the same thing using the native Notifications API (https://developer.mozilla.org/en-US/docs/Web/API/notification).

[2020-03-23 17:04] fossecode commented on #259
Nodemailer + Mailgun could probably be used. I agree, we should implement this, but it should not block the launch in NL.

[2020-03-23 17:04] michaelmcmillan commented on #191
Anything I can assist with here @NickolasBoyer?

[2020-03-23 17:05] willwillems commented on #259
This doesn't "save" the link right?

[2020-03-23 17:05] fossecode commented on #259
https://stackoverflow.com/questions/26956251/sending-emails-using-mailgun-with-nodemailer-package

[2020-03-23 17:06] willwillems commented on #191
@michaelmcmillan yes absolutely! I'll throw you in the design telegram group, we still need a few things to be done!

[2020-03-23 17:06] fossecode commented on #259
Right now we save the state using a cookie. The notification API can be used for sending notifications without having the page open.

[2020-03-23 17:09] willwillems commented on #191
@michaelmcmillan we're working on the design here: https://github.com/BustByte/coronastatus/tree/implement-design we still need to make it responsive and the stats page and privacy page still need to be done, could you @ @adriaanvanrossum in the main telegram about this?

[2020-03-23 17:10] arildwtv commented on #259
Can we pull out statistics on this percentage?

[2020-03-23 17:13] arildwtv commented on #259
By the way, we already have an issue on this: https://github.com/BustByte/coronastatus/issues/236

[2020-03-23 17:15] sbocinec commented on #256
Gonna work on this tonight, will keep you updated on the channel. Thank you!

[2020-03-23 17:17] michaelmcmillan commented on #259
I would use Mailgun API's (HTTP) over nodemailer (SMTP) for simplicity, if we're planning on implementing this: https://www.npmjs.com/package/mailgun-js

[2020-03-23 17:17] fossecode commented on #259
Yeah, but the site is not launched yet.

[2020-03-23 17:18] arildwtv commented on #259
Yeah, I know that. :D Just wanted to check if we have support for inspecting that percentage once we go live.

[2020-03-23 18:11] michaelmcmillan opened #260 "Create a dropdown where user can select their country"
<img width="1429" alt="Screenshot 2020-03-23 at 19 11 16" src="https://user-images.githubusercontent.com/147197/77348651-1ec55100-6d3a-11ea-9ab3-68b8eaddcab7.png">

[2020-03-23 19:17] arildwtv opened #261 "Bug: Checkbox for setting cookie is not checked after submitting form"
When I check the checkbox for setting cookie and submit the form, the checkbox is not pre-checked the next time I visit the form.

[2020-03-23 19:23] arildwtv opened #262 "Revised options under "I am currently" in form"
I think we should have these options under "I am currently":

* Not in isolation
* In isolation due to COVID-19 infection
* In isolation due to a recent international travel
* In isolation due to contact with an individual who has been exposed to the coronavirus

[2020-03-23 19:23] arildwtv commented on #262
Should we distinguish between quarantine and isolation?

[2020-03-23 19:27] fossecode commented on #262
I suspect distinguishing between quarantine and isolation can be confusing for people. Tbh I am not sure about the difference myself.

[2020-03-23 19:54] adriaandotcom commented on #259
I think the email's value is mostly in people forgetting to update their status. Not so much able to go back to the same website. So let's say an email after 7 days would be great to ask for an update, right?

[2020-03-23 20:12] fossecode commented on #259
Yeah I think that would be a nice feature. But then we have to store a connection between email and health information, which comes with a lot of privacy challenges. But if we find out that it is ok, it would be an awesome feature!

[2020-03-23 20:25] adriaandotcom commented on #259
If we ask people it's okay. We can explain that we only email them their personal link to their email address and delete their email after we did send it. Something like that.

[2020-03-23 20:26] jelbazi commented on #262
There are people in isolation that chose to do so out of themselves.
Then there are people doing it when there is a lockdown.

But that may be too many options.

Also (maybe it is wrong to assume) but if someone answers they have been tested positive with COVID (in another question), they will self-isolate.

Maybe an option for "in isolation for other reasons related to COVID19."?

[2020-03-23 20:39] jelbazi commented on #262
What do you guys think is the chance of people self- "diagnosing" and saying they are in isolation because they think they have COVID-19?

Could be happening if we have the option for, "In isolation due to COVID-19 infection." But maybe it's not a problem.

**Alternatively, we could have the below list:**
    - Not in isolation
    - In isolation due to a recent international travel
    - In isola

[2020-03-23 20:48] jelbazi commented on #255
Anyone started on this already?

[2020-03-23 20:48] fossecode commented on #259
I think the laws might differ from country to country. In Norway there is a separate law for treating health information: https://lovdata.no/dokument/LTI/lov/2001-05-18-24, and there are crazy fines for breaking those laws.

When we made the first version one week ago we used SMS verification codes in order to prevent people submitting multiple fake reports, but we got major pushback for saving th

[2020-03-23 20:50] fossecode commented on #255
I don't think so, should I assign it to you? 😄

[2020-03-23 21:07] adriaandotcom commented on #259
Ah I see, do you know people who can figure this out?

[2020-03-23 21:09] michaelmcmillan commented on #259
What about using the Notifications API? Everything client side.

On Mon, 23 Mar 2020 at 22:08, Adriaan <notifications@github.com> wrote:

[2020-03-23 21:11] michaelmcmillan commented on #259
Or maybe that doesn’t work on mobile very well (if at all)

On Mon, 23 Mar 2020 at 22:09, Michael McMillan <email@michaelmcmillan.net>
wrote:

[2020-03-23 21:24] fossecode commented on #259
@michaelmcmillan was in contact with Datatilsynet (https://www.datatilsynet.no/en/) last week, they can probably help us answering this (at least for Norway).

Would be interesting to check out the Notifications API and see if it has any limitations.

[2020-03-23 21:34] #255 closed

[2020-03-23 21:37] michaelmcmillan commented on #259
Not yet available on iOS, so I don’t think we can use it unfortunately. Alternatively we could just send a reminder email without the passcode. That way we don’t relate email addresses and passcodes. In most cases that would probably work fine given that they’ve chosen to set a cookie.

[2020-03-23 22:36] jelbazi opened #266 "Create content with a focus on the value proposition for individuals."
A clear value proposition is key in increasing the compounding effect of sharing and filling out the questionnaire.
And for the best results for everyone, we need many people filling out the survey.
To get across the value proposition, pieces of content can be highly effective.

Here is a first attempt at generating content ideas ([Google sheet](https://docs.google.com/spreadsheets/d/1b37_Dtbd2aze

[2020-03-23 22:59] jelbazi commented on #249
Do we have a CTA on the Map page?

It is foreseeable that many users come to that page first (or again) to check the spread of Covid-19.

It's an opportunity to funnel them into the survey (again).

[2020-03-24 01:08] ericzlmd opened #267 "WHO dead link"
Should be https://www.who.org

https://github.com/BustByte/coronastatus/blob/4dc245bd657362e8e62f742248943358d24b75e7/app/views/partials/footer.ejs#L40

[2020-03-24 06:58] arildwtv commented on #262
I know many people from work who have done this. They have been in close contact with a person who has tested positive, and they have developed symptoms, but the government does not have the capacity to test them.

And also, as a COVID-19 infected, I was looking for the option "due to COVID-19 infection". Personally, I would think it slightly unintuitive to choose "due to other reasons related to

[2020-03-24 07:06] jelbazi commented on #262
Splitting it up is a good idea I think. And the way you state it is looking clear.

There is one (maybe two) possible issue though, which is that earlier in the form the user is already asked if they have been in contact with an infected person.
Second (and it is the case without splitting the questions up), is what if people are in a situation where multiple answers apply?

[2020-03-24 07:13] arildwtv commented on #262
Yeah, I agree. If we removed that question, I wouldn't object.

But also, consider the state of the data for a given person in two-three weeks time. The person *was* in close contact with an infected individual three weeks ago, but did not develop symptoms. So, after these three weeks, the person checks off that he no longer is in isolation ("Are you currently in isolation?": "No"), but still answ

[2020-03-24 08:04] Kilian commented on #267
There’s already a translation for that but somehow it got overridden!

[2020-03-24 09:29] #267 closed

[2020-03-24 10:57] ian-starts opened #269 "make cookie clearable when another user tries to enter data"
If you agree to a cookie being set, it's impossible to navigate away from your personal url. If you follow the instruction to 'clear the form' you actually submit an update to the current cookied user.

[2020-03-24 11:04] adriaandotcom commented on #249
https://t.me/onzecorona/1862

[2020-03-24 11:45] michaelmcmillan opened #271 "Users probably won't understand cookies"
I'm pretty sure the majority of users won't have any idea what a cookie is. Or why they need to clear the form. Or why they need to note down their personal URL.

It's very challenging to find a user **and** privacy friendly way of solving this issue, but I suspect there is a better way to do this. Maybe we can brainstorm a little bit?

[2020-03-24 11:53] fossecode opened #273 "Scroll to success message after confirming profile"
After reporting and confirming a profile on a phone, you are redirected to your profile. There is also a success message, but it is located far down on the page. We should probably scroll down to the success message.

[2020-03-24 11:57] fossecode commented on #273
[scroll-to-success-message.MP4.zip](https://github.com/BustByte/coronastatus/files/4375057/scroll-to-success-message.MP4.zip)

[2020-03-24 11:59] fossecode opened #274 "Buttons, info message and link looks very similar on the confirm profile page"
Might be confusing for users. Do the link have to placed in a input field? Could we just display it instead? The text and the copy button should maybe have full width on small screens as well.

![IMG_2740](https://user-images.githubusercontent.com/8818089/77423257-271b9b80-6dcf-11ea-87cc-a43ebd517a98.PNG)

[2020-03-24 12:00] fossecode opened #275 ""clear this form" does not look like it is clickable"
![IMG_2741](https://user-images.githubusercontent.com/8818089/77423393-6649ec80-6dcf-11ea-8bf1-46cc41761ac5.jpg)

[2020-03-24 12:02] fossecode opened #276 "Hashtags wraps over two lines on small screens"
Maybe reduce the font size on small screens? I also highlighted some translations that are missing in Norwegian.

![IMG_2742](https://user-images.githubusercontent.com/8818089/77423460-8b3e5f80-6dcf-11ea-99aa-8277c143882a.jpg)

[2020-03-24 12:03] fossecode opened #277 "Date input is missing some styling (iOS)"
At least when it is not filled out:

![IMG_2744](https://user-images.githubusercontent.com/8818089/77423564-be80ee80-6dcf-11ea-822e-913bfaa7eb99.jpg)

[2020-03-24 12:05] adriaandotcom commented on #249
Done CTA in https://github.com/BustByte/coronastatus/pull/278

[2020-03-24 12:06] arildwtv opened #279 "Calculate possible dark figures"
I have an idea of how we might attempt to dynamically predict the current dark figures. It's logically, and not scientifically, based, though. What do you guys think:

1. We use live official test data (positive test results / total number of tests) for each country to get a percentage of probable infection (let's call it **Pp**).

In Norway, Pp is currently 2.625 / 61.251 = 4.2 %.

2. We use data

[2020-03-24 12:24] fossecode opened #280 "Suggestion: Center content in icon boxes on front page"
Thoughts?

After:
![image](https://user-images.githubusercontent.com/8818089/77425215-a9598f00-6dd2-11ea-8dd0-e7685b2d6d2a.png)

Before:
![image](https://user-images.githubusercontent.com/8818089/77425258-baa29b80-6dd2-11ea-997c-bc5be8f99558.png)

[2020-03-24 12:31] michaelmcmillan commented on #271
I propose that don't mention personal URLs or cookies on the [confirmation screen ](https://imgur.com/a/f84ZIZK)if you've opted in to use a cookie (which I'm pretty sure the majority will opt in to). I fear the number of people who actually note down the URL and revisit the page is very low (especially of those who opt in to cookie) – which means this probably only confuses the user ("why do I nee

[2020-03-24 14:58] fossecode opened #285 "Swagger API url is hardcoded to https://coronastatus.no"
Should also support other tld's.
![image](https://user-images.githubusercontent.com/8818089/77440220-55f23b80-6de8-11ea-8683-e60f038cabb5.png)

[2020-03-24 15:18] adriaandotcom commented on #273
just add #contribute to the redirect url

[2020-03-24 15:24] adriaandotcom commented on #273
fixing now

[2020-03-24 15:27] adriaandotcom commented on #273
Done: https://github.com/BustByte/coronastatus/pull/286

[2020-03-24 16:05] #273 closed

[2020-03-24 17:37] #276 closed

[2020-03-24 18:17] adriaanvanrossum opened #296 "If we clear the database you get a redirect error"
Not sure if we should fix this, but can image that a record in the future will not be found and it will result in a non working website.

![telegram-cloud-photo-size-4-6041722683193930583-y](https://user-images.githubusercontent.com/1079135/77462142-f9047e80-6e03-11ea-8552-dfd53ec6e187.jpg)

[2020-03-24 20:09] adriaanvanrossum opened #299 "Cut works at the right point and make font smaller on mobile"
Cut with `<wbr />`

<img src="https://user-images.githubusercontent.com/1079135/77472036-99ae6a80-6e13-11ea-9325-81063010fd3f.jpg" width="320px">

[2020-03-24 20:10] adriaanvanrossum opened #300 "Make input box not red, seems invalid"
<img src="https://user-images.githubusercontent.com/1079135/77472160-c9f60900-6e13-11ea-9dbe-ca875284054a.jpg" width="320px">

[2020-03-24 20:10] adriaanvanrossum opened #301 "Date picker looks broken on iOS"
<img src="https://user-images.githubusercontent.com/1079135/77472216-e09c6000-6e13-11ea-92e3-2639fd5a0b35.jpg" width="320px">

[2020-03-24 20:15] #285 closed

[2020-03-24 20:17] #60 closed

[2020-03-24 20:18] fossecode commented on #301
Duplicates https://github.com/BustByte/coronastatus/issues/277

[2020-03-24 20:18] #301 closed

[2020-03-24 20:20] fossecode commented on #300
Does it have to be an input box at all? Relates to https://github.com/BustByte/coronastatus/issues/274

[2020-03-24 20:24] adriaandotcom commented on #274
Having to copy something out of an input field in very common in The Netherlands. But most people will use the kopier button I think.

[2020-03-24 21:46] adriaanvanrossum opened #303 "Time of symptoms"
Some feedback I got from people: you kind of have to know when those symptoms where taking place. Now? One week ago? 3 weeks ago?

[2020-03-24 22:16] #269 closed

[2020-03-24 22:37] sbocinec commented on #256
- [x] Write privacy policy
- [x] Add missing translations in sk.json
- [x] Create social media images
- [x] Update the sk wordlist
- [x] Check translations
- [x] Enable Simple analytics
- [x] Enable Stadia maps

[2020-03-24 22:46] fossecode commented on #256
Fantastic!

[2020-03-25 01:35] henrist opened #307 "Replace form with link to form at helsenorge.no"
Follow-up on #143

The official national form for Norway has been launched a few days ago:
https://minhelse.helsenorge.no/skjemautfyller?Query=Questionnaire/302

Probably the other pages should have a banner as well telling the data is for previous registation before the form was disabled.

[2020-03-25 08:43] fossecode commented on #307
https://github.com/BustByte/coronastatus/pull/304

[2020-03-25 08:50] fossecode commented on #303
Hmm, what do you mean? More specific than what we already have?
![image](https://user-images.githubusercontent.com/8818089/77518414-0eb68a00-6e7e-11ea-9364-bac925d6dcfb.png)

[2020-03-25 09:07] gavinhewitt opened #308 "Add option to let people mark themselves as recovered"
There currently is no way for ex-coronapatients to mark themselves as recovered. This option should be added.

[2020-03-25 10:14] fossecode commented on #308
Duplicates https://github.com/BustByte/coronastatus/issues/81.

[2020-03-25 10:14] #308 closed

[2020-03-25 10:15] fossecode commented on #81
@gavinhewitt Do you think it should be an option to select this while filling out the form, or is it enough to display this on the profile page to users that have registered as sick?

[2020-03-25 12:02] gavinhewitt commented on #81
Hmm good one. Possibly both?

[2020-03-25 12:53] Kilian commented on #191
since this is done, let's close it and keep the issue list as small and up-to-date as possible.

[2020-03-25 12:53] #191 closed

[2020-03-25 12:53] ewels commented on #260
See https://gist.github.com/mashpie/08e5a0ee764f7b6b1355 for an example implementation in the back end.

[2020-03-25 13:03] Kilian opened #312 "Accessibility issues"
To keep track of accessibility issues the site may have:

- [x] lack of (keyboard) focus styles
- [x] heading structure can be improved
- [x] all h4's in the form should be `<label>`s with proper for attributes
- [x] some fields have no labels

contrast issues:
- [x] .text-cvs-gold on #5d7979 is not sufficient on cta block
- [x] .text-cvs-green-dark on #e7f4f7 is not sufficient on list of symptoms

[2020-03-25 13:34] adriaanvanrossum opened #313 "Change default config feature to allow missing values"
This is result in a crash some day, so let's fix this before we forget!

[2020-03-25 13:35] adriaandotcom commented on #303
Hm, that's weird, not sure why people would ask this then.

[2020-03-25 13:35] #303 closed

[2020-03-25 13:41] fossecode commented on #303
It does not show if you don't check any symptoms, so I guess the people who reported it didn't have any symptoms.

[2020-03-25 13:42] Kilian commented on #312
Suggestion for more accessible heading structure by @julezrules:

current:
[code]
better:
[code]

[2020-03-25 14:20] Kilian commented on #312
PR is ready, closing this.

[2020-03-25 14:20] #312 closed

[2020-03-25 15:12] adriaandotcom commented on #313
We could import both the config example and normal and Object merge the two.

[2020-03-25 15:44] ewels opened #321 "Checklist launch in Sweden 🇸🇪"
- [ ]  Check privacy policy
- [x]  Add postcodes - https://github.com/BustByte/coronastatus/pull/319
- [ ]  Write translations - @MalinAhlberg
- [ ]  Make a `se` wordlist for passwords
- [ ]  Check survey questions
- [ ]  Update stats for Sweden
- [x]  Get instance up and running - @talavis
- [ ]  **Get project approved locally**
- [ ]  Sort out domain name
- [ ]  Set up site config properly
- [ ]

[2020-03-25 16:46] adriaandotcom commented on #249
Closing..

[2020-03-25 16:46] #249 closed

[2020-03-25 17:45] zerbfra opened #324 "Nothing option in the symptoms"
It would be nice to have the option for "nothing" in the symptoms checkboxes.

[2020-03-25 17:48] zerbfra opened #325 "We need to specify wich fields are mandatory"
It's probably better to specify wich fields are mandatory and wich are optional (it seems only one is optional actually).

[2020-03-25 17:50] ewels opened #326 "Longitudinal tracking"
The app currently collects repeated entries under the same passcode, essentially building a time series of responses from each person. I think that this is a huge opportunity for getting useful data - with repeat responses we can track the progression through different symptoms: severity, speed of progression and other factors.

Other comparable tools appear to be aiming for this, for example the

[2020-03-25 17:55] zerbfra commented on #324
labels: enhancement,

[2020-03-25 17:55] zerbfra commented on #325
label: enhancement

[2020-03-25 18:00] mihai-sysbio commented on #326
Do any of these tools mention what data they make available, and to whom? From what I could find it sounds they are fairly closed.

[2020-03-25 18:03] zerbfra opened #328 "We need the privacy banner on mobile"
We need the privacy banner (or in the menu) on mobile devices

[2020-03-25 18:04] zerbfra opened #329 "In the privacy page the menu is not working"
Menu in the mobile version is not working

label: bug

[2020-03-25 18:34] #275 closed

[2020-03-25 20:14] #329 closed

[2020-03-25 20:28] #313 closed

[2020-03-25 20:38] Sondrehj commented on #280
Will this make them line up with the row underneath? If so, yes imo
How it is now (desktop):
<img width="1004" alt="Screenshot 2020-03-25 at 21 35 04" src="https://user-images.githubusercontent.com/6543429/77583188-f166d780-6ee0-11ea-86b5-ed27c504abe4.png">

[2020-03-25 20:47] fossecode commented on #328
Could you elaborate? Do you mean a link to the privacy statement in the menu?

[2020-03-25 21:00] amritnagi commented on #280
I'm happy if it's centered :+1:
It's centered on mobile, but I made it left aligned to break things up a bit, otherwise it would have been too similar to the stats.  Plus, I felt the sub text is easier to read left aligned.

Originally the stats icons were supposed to be a bit narrower, as part of "funnelling" the eye to the form... But it's cool as it is.

[2020-03-25 21:28] amritnagi commented on #328
The yellow banner, we made it hidden on mobile, easy enough to display it.

Although if it's taking up too much space, we can look to redesign the two bars on mobile to display differently

[2020-03-25 21:42] ewels commented on #326
I think that they’re quite closed, yes. I think it’s the TC article that mentions that data is anonymised before sharing if anyone requests it (or something). I think immediate sharing via API + download as we have here is much better 👍

But mostly I think it’s just interesting to compare interfaces and focus.

[2020-03-25 23:01] zerbfra commented on #328
Yes, it should be redesigned

[2020-03-25 23:36] #248 closed

[2020-03-26 08:41] janmande commented on #300
It used to be a span, so no, it does not have to be an input box.

[2020-03-26 08:42] janmande commented on #274
It used to be a span, so it does not have to be an input box.

[2020-03-26 08:45] ewels commented on #326
Closing as I realise now that this issue is essentially a dup of several others: https://github.com/BustByte/coronastatus/issues/245#issuecomment-602480544 https://github.com/BustByte/coronastatus/issues/173 https://github.com/BustByte/coronastatus/issues/184 https://github.com/BustByte/coronastatus/issues/259

[2020-03-26 08:45] #326 closed

[2020-03-26 08:49] Kilian opened #352 "Generate social media images"
Instead of working in the figma file, we can generate the social media images using HTML and puppeteer. That way the strings can just be part of this repo and creating new ones is easy.

I'll get started on this in a couple of hours.

[2020-03-26 11:28] adriaandotcom commented on #274
I'm okay if it's changed to whatever. As long as people can also copy it easily when the copy button does not work. That's why it was an input. Inputs are more easy to copy then normal text.

[2020-03-26 11:28] adriaandotcom commented on #300
Duplicate of https://github.com/BustByte/coronastatus/issues/274

[2020-03-26 11:28] #300 closed

[2020-03-26 11:47] michaelmcmillan commented on #352
Figma also has a great REST API that I think could be used to change the text in a file + export to svg/png

[2020-03-26 11:49] michaelmcmillan commented on #256
I guess this can be closed

[2020-03-26 12:42] fossecode opened #360 "Display officially confirmed stats on statistics page as well"
We can probably get data from one of these API's: https://github.com/soroushchehresa/awesome-coronavirus#api

Any ideas on what stats to display?

[2020-03-26 13:49] #256 closed

[2020-03-26 15:13] michaelmcmillan opened #366 "Redirect loop when nginx does not forward protocol scheme"
[code]

[2020-03-26 15:17] michaelmcmillan opened #367 "Fix wrong casing for locales for france and one other country I cant remember"

[2020-03-26 15:48] zerbfra opened #369 "Custom Datepicker to report symptoms start date"
We need a custom datepicker since the default one is not supported on all browsers (Safari -.-).

https://caniuse.com/#feat=input-datetime

label: enhancement

[2020-03-26 15:51] fossecode commented on #369
Can believe I actually suggest this, but could we just fix it quick with https://api.jqueryui.com/datepicker/?

[2020-03-26 15:57] michaelmcmillan commented on #369
What about? https://github.com/flatpickr/flatpickr

[2020-03-26 16:39] AryanJ-NYC opened #371 "Postal/Zip Code on coronastatus.us only allows 4 digits"
# Expected
As the United States uses five digit zip codes, the input for zip code on coronastatus.us should allow five digit zip codes.

# Actual
The input caps the zip codes at four digits.

[2020-03-26 16:43] michaelmcmillan commented on #371
Thank you! This is now fixed at coronastatus.us :)

[2020-03-26 16:43] #371 closed

[2020-03-26 16:49] fossecode commented on #277
Will we fixed by #369

[2020-03-26 16:49] #277 closed

[2020-03-26 18:03] michaelmcmillan opened #375 "USA site is crashing because of missing translated url"
[code]

[2020-03-26 18:10] fossecode opened #376 "All radio buttons and checkboxes have bold text"
I think that was changed by accident?

## Before:
![coronastatus nl Tablet_polypane](https://user-images.githubusercontent.com/8818089/77681216-55e36e80-6f95-11ea-8fe3-ff7d47cb1e66.png)

## After:
![coronastatus mx Tablet_polypane2](https://user-images.githubusercontent.com/8818089/77681225-5845c880-6f95-11ea-9201-9a1dbb82818e.png)

[2020-03-26 18:13] #375 closed

[2020-03-26 19:17] talavis opened #382 "Do not force https"
I noticed that commit `539a66535c55410d413cd114e8a9c8774375acc6` added forced https for production environments.

Please revert that commit, make it into a configuration option, or, if this is the only thing that is affected by setting `NODE_ENV=production`, please document it somewhere.

Our setup is running a container behind a reverse proxy, and that commit makes it unusable.

[2020-03-26 19:54] fossecode commented on #382
@zerbfra We should probably configure this outside of the app.

CC @michaelmcmillan

[2020-03-26 20:06] Kilian commented on #376
Fix pushed!

[2020-03-26 20:06] #376 closed

[2020-03-26 20:06] Kilian commented on #376
ref: https://github.com/BustByte/coronastatus/commit/b0fe8064f1cdbf8d9f8fe75c7223f4a65143f78c

[2020-03-26 20:21] Kilian commented on #352
If we rebuild the images in HTML we get translations + line-wrapping etc for free, then a puppeteer script is a single command to output new images. I think that scales better (someone with experience with figma might have a different opinion)

[2020-03-26 20:23] Kilian commented on #325
if optional is the odd one out, then UX wise it's nicer to signify that (like we currently do) rather than mark all other fields.

We can add an "unless noted all fields are required" remark on top of the form.

[2020-03-26 20:25] Kilian commented on #324
This would mean a bunch of additional logic, since we'd need to prevent people from selecting both "Nothing" and "Dry Cough". Perhaps we can make it more clear in all languages (like Norwegian) that it's ok to check none if you have no symptoms.

[2020-03-26 20:43] Sondrehj commented on #261
A related problem:
If you first agree to the cookie, then change this later on, the cookie will still be set.

[2020-03-26 20:52] zerbfra commented on #324
For now I’ve don it in the question string (in the italian transaltion)

[2020-03-26 20:52] michaelmcmillan commented on #382
Thanks for letting us now. Unfortunate that it affected your app. What goes wrong – infinite redirect loop?

I take it you're running the app behind a reverse proxy. Are you passing along the following the `X-Forwarded-Proto` header? In nginx you can add the following:  `proxy_set_header X-Forwarded-Proto $scheme;`.

[2020-03-26 20:53] zerbfra commented on #382
Oh wow. Let make it configurable outside

[2020-03-26 21:02] adriaandotcom commented on #352
I think you just like to build this little feature ;)

We also need more sharing options btw, but yeah. It also needs to be fun for yourself ;)

[2020-03-26 21:11] talavis commented on #382
I'm perfectly fine with just having it documented somewhere. i can probably get around it by modifying my setup, but it was not appreciated to have this crop up after I got my pipeline for updates set up.

[2020-03-26 21:20] jelbazi commented on #360
I was thinking about this too. I had the idea of maybe making a separate site, but putting it in here may be a good way to spread the information and have a stronger urge for the CTA's.

There are many stats we can show. I think these are very interesting.

For each country:
- Growth rate (moving average). Is it going up or down? For both deaths and confirmed cases.
- Cases per 1M
- Death per 1M
-

[2020-03-26 21:23] Kilian commented on #352
awesome idea by @michaelmcmillan: v2 could embed the map in the background for an even more customised image.

[2020-03-26 21:26] #261 closed

[2020-03-26 21:29] jelbazi commented on #360
I have experience in time-series data manipulation. But only in python though. I can create an API that spits out the data we want. But we can also see if something exists already (from the list you shared) and call the endpoint with our current express app.

Option too is probably fastest if there's something already.

What do you think?

[2020-03-26 21:32] fossecode commented on #360
Would be nice if you could check if it already exists an API that exposes data for all countries!

[2020-03-26 21:39] zerbfra commented on #382
Sorry - going to make an option in the config.js as my next task

[2020-03-26 21:40] fossecode commented on #376
Awesome, thanks :)

[2020-03-26 21:50] #262 closed

[2020-03-26 21:58] jelbazi commented on #360
This repo is in active development and already has clear and latest data https://github.com/NovelCOVID/API

They also have an API deployed we can use directly, example for NL:
https://corona.lmao.ninja/v2/historical/netherlands

Data from the start of this year too.

[2020-03-26 21:59] fossecode commented on #360
I think that looks good!

[2020-03-26 22:03] jelbazi commented on #360
Yes right?! :) Javascript too, so could even implement into our own app if needed.

Shall I try to define what metrics we can derive from this data and what to show on our site?

Then discuss if everyone agrees and after that, you (or someone else) can shove it into coronastatus?

[2020-03-26 22:05] fossecode commented on #360
Sounds like a plan!

[2020-03-26 22:35] amritnagi opened #392 "Home Page - Add sharing Icons for other social networks:"
* Twitter
* Linked In

Do we need to consider other social networks that are big in particular regions?

[2020-03-26 22:36] amritnagi opened #393 "Form Design tweeks"
* Removing black outline on dropdowns
* Changing the radio/checkbox background colour to match the theme (text-cvs-red)
* Consistent button styling (as per the CTA button)

[2020-03-26 23:05] fossecode opened #395 "Remove count from Facebook button"
The counter is currently static, and only reflects the Norwegian share statistics (https://www.sharedcount.com/)

The number can probably just be removed, as it is hard to keep the number updated for all sites (without using Facebook's own button)

[2020-03-26 23:08] jelbazi commented on #360
Some basic stats I think we can glean from the above API.

Charts can be added later too, but this should be relatively simple.

![afbeelding](https://user-images.githubusercontent.com/16716173/77705074-97baf600-7023-11ea-9351-42f19beb0c4d.png)

[2020-03-26 23:11] fossecode commented on #324
Yes, France has also made this clear in the text above the checkboxes. I think that is the easiest solution for now.

[2020-03-26 23:11] #324 closed

[2020-03-26 23:15] fossecode commented on #296
I think this also occurs when the DBs of new instances are wiped right before launch.

[2020-03-26 23:16] #253 closed

[2020-03-26 23:17] fossecode commented on #250
If I remember correctly, this is done?

[2020-03-26 23:17] #250 closed

[2020-03-26 23:19] fossecode commented on #212
Part of translation now, closing the issue.

[2020-03-26 23:19] #212 closed

[2020-03-27 00:12] AryanJ-NYC commented on #395
~On it~

[2020-03-27 07:51] #395 closed

[2020-03-27 10:54] aolieman commented on #366
I'm getting a "too many redirects" error, and am wondering if this might be the cause. I already reported this on Twitter. Subscribing here so I can try again when something changes on your end.

[2020-03-27 10:55] michaelmcmillan commented on #366
@zerbfra

[2020-03-27 11:49] #382 closed

[2020-03-27 11:50] talavis commented on #382
Thanks.

[2020-03-27 12:13] dojeda opened #410 "Chart monotone interpolation"
I have noticed that the statistics page line charts use an interpolation function that may cause non-monotonic curves when results arrive in a very small window. For example, currently on [coronastatus.fr](https://coronastatus.fr/statistiques)  :

![image](https://user-images.githubusercontent.com/795818/77754313-5fb7b100-702b-11ea-835b-0e63f285eff7.png)

This can be quickly fixed by changing the

[2020-03-27 12:30] #410 closed

[2020-03-27 12:55] apelsinet commented on #321
Filed a PR for `Make a se wordlist for passwords` (#413)

[2020-03-27 13:15] bjornhenriksson commented on #321
Filed a PR for `Configure URL paths in app/domain/urls.ts` (https://github.com/BustByte/coronastatus/pull/414)

[2020-03-27 13:33] talavis commented on #321
I think we have translations ready for almost everything. Will ask them to make pr.

[2020-03-27 13:51] jinjie opened #417 "Translate to Bahasa Melayu"
Need help on translating to Bahasa Melayu

https://github.com/BustByte/coronastatus/blob/master/app/locales/ms-MY.json

[2020-03-27 13:55] bjornhenriksson commented on #321
@ewels heey! Can you elaborate on _Update stats for Sweden_ and _Check survey questions_ what do they mean? 😄

[2020-03-27 14:31] ewels commented on #321
Hi @bjornhenriksson - thanks for your help above! I can't remember exactly what I meant by _Update stats for Sweden_ to be honest, I stole the list from another similar issue so it might not be relevant for us. _Check survey questions_ referred to our internal effort to be sure that the questions are exactly what we need before we launch.

See https://github.com/SciLifeLab/coronastatus/issues/6#is

[2020-03-27 14:54] apelsinet commented on #321
Nice work on the translation! It seems like the input for postal codes is capped at 4 characters which is problematic for Swedish postal codes 😄

[2020-03-27 15:00] talavis commented on #321
That's set in the config.

[2020-03-27 15:01] apelsinet commented on #321
Oh, nvm 😄

[2020-03-27 17:11] WeileiZeng opened #423 "Open Source Helps!"
Thanks for your work to help the people in need! Your site has been added! I currently maintain the Open-Source-COVID-19 page, which collects all open source projects related to COVID-19, including maps, data, news, api, analysis, medical and supply information, etc. Please share to anyone who might need the information in the list, or will possibly contribute to some of those projects. You are al

[2020-03-27 19:26] adriaandotcom commented on #296
Yeah, maybe we should add a redirect count or something and if that hits more than 2 or something we should clear the cookie.

[2020-03-27 19:28] adriaandotcom commented on #423
Thanks @WeileiZeng!

[2020-03-28 02:12] jinjie commented on #417
Need someone to help review the translations: https://gist.github.com/jinjie/753ee1c786bf005b48b9ff2bd83d914e

Mostly translated using Google Translate but was informed that some phrases looked weird and doesn't match the translation... 😞

[2020-03-28 07:09] bertrandlalo commented on #423
@WeileiZeng, thank's for sharing the website, I went through some of the projects you found and recommended, it's awesome!
For this one (_coronastatus_), it may be more appropriate to put the project in part **"API, data"**, since the first purpose is a crowdsourcing!
Best!

[2020-03-28 07:20] bertrandlalo opened #430 "Question design"
(France) Many users have given me those feedbacks:
- Symptoms **should be dated** (either roughly, or one by one)
- Symptoms could be **more precise**
- Users should be able to manually add other symptoms they add (even if not common)

[2020-03-28 07:28] bertrandlalo opened #431 "Linechart incomplete"
Index of reports (all/without symptoms) should be the same, so that the line chart is complete (eg. by padding).
See bellow:
<img width="644" alt="Screenshot 2020-03-28 at 07 57 50" src="https://user-images.githubusercontent.com/22340670/77817714-84646500-70cd-11ea-9496-5ac063da7418.png">

[2020-03-28 10:05] fossecode commented on #367
Fixed in https://github.com/BustByte/coronastatus/pull/405

[2020-03-28 10:05] #367 closed

[2020-03-28 11:44] michaelmcmillan commented on #245
I've reached out to the researchers of the paper to hear if we can be of any help to them.

[2020-03-28 12:22] fossecode commented on #430
Thanks for valuable feedback! I have some thoughts/questions:

1) If you check that you have a symptom, you will get a datapicker for selecting symptom start. That is although shared for all the symptoms, it could possibly be valuable to select start date per symptom. This would however require quite a lot of changes in or data structure, design etc. But absolutely something we should discuss.

2)

[2020-03-28 12:38] #431 closed

[2020-03-28 14:12] michaelmcmillan commented on #417
Hey, great work! Do you know anyone who speaks Malay?

[2020-03-28 15:33] michaelmcmillan commented on #296
Just hit this problem as well. Do you know where the loop happens?

[2020-03-28 15:35] michaelmcmillan commented on #296
Could also be solved by not redirecting and instead showing a "Invalid pass code" message.

[2020-03-28 16:09] adriaandotcom commented on #296
Yes, better to show invalid passcode

[2020-03-28 16:48] jinjie commented on #417
Yes. I have approached a few. Hopefully to update soon.

Regards,
Kong Jin Jie

On Sat, 28 Mar 2020, 10:13 PM Michael McMillan, <notifications@github.com>
wrote:

[2020-03-29 10:54] Kilian commented on #352
Merged, can be closed!

[2020-03-29 10:54] #352 closed

[2020-03-29 11:01] #423 closed

[2020-03-29 18:46] WeileiZeng commented on #423
Thanks. Changed.

[2020-03-29 19:05] #392 closed

[2020-03-29 22:03] fossecode commented on #82
https://github.com/BustByte/coronastatus/pull/483

[2020-03-29 22:05] julianbetancourt opened #484 "Statistic page not displaying numbers"
Some sites are not displaying numbers on the stats. Example:

![image](https://user-images.githubusercontent.com/11728570/77862171-0d88b280-721a-11ea-8f39-797e33abf873.png)

----

![image](https://user-images.githubusercontent.com/11728570/77862177-14172a00-721a-11ea-813a-aef55287f232.png)

Surprisingly, the .nl is displaying the numbers as normal:

![image](https://user-images.githubusercontent.c

[2020-03-29 22:16] fossecode commented on #484
I think @adriaanvanrossum has fixed this, so we should probably try to release the other countries as well.

[2020-03-29 22:33] adriaandotcom commented on #484
Jep, this is fixed in https://github.com/BustByte/coronastatus/pull/479. I think @michaelmcmillan can do this deploy to other countries as well.

[2020-03-29 22:51] #484 closed

[2020-03-30 11:32] fossecode commented on #328
Fixed in #345

[2020-03-30 11:32] #328 closed

[2020-03-30 11:33] #260 closed

[2020-03-30 11:34] fossecode commented on #260
Fixed in #448

[2020-03-30 11:36] fossecode commented on #236
Duplicates https://github.com/BustByte/coronastatus/issues/259

[2020-03-30 11:36] #236 closed

[2020-03-30 11:39] adriaandotcom commented on #259
This is how https://www.symptotrack.org does it. They just email a link and delete the email address. So no reminder, just an email with the link. Smart and simple. You need to make sure the logs do not contain that info as do the logs of the email provider.

[2020-03-30 11:44] adriaandotcom commented on #259
Asked Mailgun:

![CleanShot 2020-03-30 at 13 44 17@2x](https://user-images.githubusercontent.com/1079135/77908871-95a7a000-728c-11ea-8f7d-e1b6798115ec.jpg)

[2020-03-30 11:45] adriaandotcom commented on #259
If mailgun will store this we could create email forwards in another service to the real emails and send those forward email to mailgun. That way mailgun does not know which original email the heath report belongs to.

[2020-03-30 13:13] PanwalaVandan opened #490 "No Map Marker's on the .us site"
There are 54 total reports on the https://coronastatus.us/ site
Still Cannot find any markers on the
https://coronastatus.us/map#2.33/28.24/-87.57 link.

[2020-03-30 20:20] jhinrichsen opened #494 "Include BMI"
With recent focus on obesity, please include BMI in self report

[2020-03-30 20:43] #393 closed

[2020-03-31 07:19] jinjie opened #497 "Proceed button not styled"
<img width="611" alt="Screenshot 2020-03-31 at 3 17 16 PM" src="https://user-images.githubusercontent.com/2721195/77998002-f6a1a780-7362-11ea-98a1-1f2816e4639a.png">

[2020-03-31 07:21] jinjie opened #498 "Improve confirmation page"
Can we improve the confirmation page? Rather than just mentioning that we have stored the cookies, I think this form is a useful self-check guide based on the severity of the symptoms, temperature and etc.

May be we can grade the severity and provide advise based on the form submission? Such as local ambulance number, steps to take to admit to the hospital, consult a GP, monitor for 3 days things

[2020-03-31 10:44] fossecode commented on #497
Wow that is pretty bad

[2020-03-31 10:46] #490 closed

[2020-03-31 11:51] adriaandotcom commented on #259
Got a reply. TL;DR they can't disable storing the info, they can limit it to keeping it for 1 hour.

[2020-03-31 14:52] jinjie opened #509 "Move country or domain specific domains out of locales"
I propose that we move the country names, health agency name, domain names out of the translation file.

Since there is multiple language per country, there will come a case where, a country do not have it's own english locale. For example, there is no locale code of "en-MY". We may think that it is English (Malaysia) but based on the list of locales, there is no such locale at all: https://github

[2020-03-31 14:57] fossecode commented on #509
Ahh good point, didn't think about that.

[2020-03-31 15:02] jinjie commented on #509
Is it difficult to achieve this? We can still manage with the current locale setup, but it may become a mess when more countries and locales join in.

We will also see a lot of duplicated locale files. For example, I am using en-SG for English (Singapore). In fact, I can easily use en-UK for Singapore.

[2020-03-31 16:03] #497 closed

[2020-04-01 12:23] #417 closed

[2020-04-01 18:58] jelbazi commented on #494
Could be interesting. And I agree with the relevance of BMI in the outcome of a covid infection.

But I do think we need to ask a few questions on the purpose of adding it to Coronastatus specifically.

- Does BMI differ very much with the township/postcode someone lives in? As opposed to country?
- Does knowing BMI help map the spread and possible future outbreaks?
- Will there be a significant l

[2020-04-01 19:03] jelbazi commented on #498
The confirmation page could be improved. But giving medical advice is probably a nono! This is considering legal implications. Especially as it differs between countries a lot.

[2020-04-04 11:39] fossecode commented on #509
Fixed in #537

[2020-04-04 11:39] #509 closed

[2020-04-04 11:40] fossecode commented on #369
Fixed in #491

[2020-04-04 11:40] #369 closed

[2020-04-04 11:42] fossecode commented on #82
Fixed in #483

[2020-04-04 11:42] #82 closed

[2020-04-04 12:11] fossecode opened #543 "Add config files to git"
It is nothing secret in the config file, so we might as well have just have it in git. Could keep the existing `config.json`, but only specify `COUNTRY_CODE` there. That way we would know how to get the correct config from `/config-examples`.

Todo:
- [x] Move the content of `config-examples/` to `app/countrySpecific`.
- [x] Convert the `json`-configs to `.ts`, so that we get type-safety (same way

[2020-04-04 12:55] ceremcem commented on #271
Regarding to `#3`: What if a person wants to submit the form on behalf of another person (person B) and then, when he or she comes for the 3rd time in order to update any of those two forms? If "No" is selected, a dropdown list should be issued to select "Person A", "Person B" etc. An alias would be super useful for this purpose.

[2020-04-04 13:16] ceremcem opened #545 "Words for personal URL should be optimized"
Words being used for generating personal URL's should be cleaned up by
* Removing possibly offensive words (akkefal, etc.) (any offensive word prefixed by `ak`)
* Removing uncommon words (adenit, aforizm, ehram, etc.)
* Removing duplicates (adenit)

In general, those words to build personal URL's can't be selected more poorly.

@btutal

[2020-04-04 14:59] btutal commented on #545
Why do you think uncommon words should be removed? Duplicate can be deleted but I don't agree with other points.

[2020-04-05 06:50] amritnagi commented on #274
Do you think having a button to send the link via email would be an useful additional option here?

Fyi I've restyled in the button in pr 511.
https://github.com/BustByte/coronastatus/commit/47b43865603ae211d3add987ab97ddf9af48c040

[2020-04-05 09:42] btutal commented on #545
I've removed duplicate word in 4b4c5a015a523e2aea244332c6e7978761f8278f closing this issue since if the word is common or uncommon is not relevant with usage and words that start with `ak` is not offensive.

[2020-04-05 09:42] #545 closed

[2020-04-05 10:14] #101 closed

[2020-04-05 18:00] #543 closed

[2020-04-05 19:26] adriaandotcom commented on #274
Email is discussed here https://github.com/BustByte/coronastatus/issues/259 and would be great, but it's not very privacy friendly if we just use one provider.

[2020-04-06 02:00] rafaelsabino opened #557 "Online Configuration"
Good night, can I have this site only in docker container format? I would like to implement it on the web, but I don't know anything about docker. Is there another way to leave on shared server?

[2020-04-06 17:55] fossecode commented on #557
Hi, we can host it for you if want. What country are you from?

[2020-04-06 17:57] #274 closed

[2020-04-06 18:01] fossecode opened #559 "Put together some kind of press package"
With images and info about the project. We should try get some publicity in order to gain traction.

[2020-04-06 18:22] rafaelsabino commented on #557
Good afternoon. It would help me a lot. I realized that there is one installed for Brazil. But it is general. I am from Brazil in the city of São Paulo and I would like the form to be used only here. It would be great to account for local cases. What would this configuration look like on my server for me to use in my city and send to as many people as I can?

[2020-04-06 19:20] zacel commented on #188
Here is a pull request in reference to this issue: https://github.com/BustByte/coronastatus/pull/560

It doesn't do this https://github.com/BustByte/coronastatus/issues/188#issuecomment-602112289 yet because each countries data is siloed

[2020-04-06 21:41] jelbazi commented on #559
A friend owns a presskit service. Maybe he can offer it for free for Coronastatus. I'll ask if he's interested.

[2020-04-06 21:57] fossecode commented on #559
Great!

[2020-04-07 06:54] baskoopmans commented on #559
Yes for sure @jelbazi and @fossecode, please signup on https://presskite.com/ and you will be upgraded to a premium account without charge 👍

[2020-04-07 07:39] fossecode commented on #559
Awesome, thanks! Registered with eirik@bustbyte.no

[2020-04-09 12:17] baskoopmans commented on #559
Perfect, both your accounts are upgraded 🎉

[2020-04-11 17:55] #557 closed

[2020-04-13 12:13] zhoulaifu opened #563 "Questions regarding www.coronastatus.fr and coronastatus.dk"
I have two questions:

1. It seems that www.coronastatus.fr is based on the repository
https://github.com/alexisthual/symptoms-tracker, contributed by Alexis
Thual and Raphaëlle Bertrand-Lalo. Can you clarify?

2. As of today, www.coronastatus.dk is a dead link. When will it become accessible?

Great work!

[2020-05-24 01:38] silenteyesoncode commented on #299
I want to contribute to this

[2020-05-25 12:02] adriaandotcom commented on #299
Feel free to add it to the translations!

[2020-08-04 16:24] estamos opened #565 "Host coronastatus.gr | Hellenic Republic (Greece) 🇬🇷"
A Greek translation is finally fully functional.
I run `yarn lint`with output : `✨  Done in 3.44s.`

Could you host coronastatus.gr ?
Source can be found [here](https://github.com/estamos/coronastatus-gr).

el-GR | GR 🇬🇷

[2020-08-11 14:20] michaelmcmillan commented on #565
We do not have any credit to give unfortunately. If you want to host it simply follow the instructions in the ops/ directory in the repository.

[2020-08-11 14:20] #565 closed

[2020-10-09 13:22] MattMarquise commented on #563
@zhoulaifu Have you joined the community? https://t.me/onzecorona This is where you can ask about Denmark's website and any others you have questions about.